{% import '_includes/forms' as forms %}
{% import 'import/_includes/importForms' as importForms %}
<div class="ImportPreview">
    <h1>Entries</h1>
    {% if preview is not defined %}
        <span>Error! No preview available</span>
    {% else %}
        <input type="hidden" name="importFile" value="{{ file }}"/>
        {% for index, entry in preview.entries %}
            {% include 'import/_/partials/import-preview/entry' with {
                entry: entry,
            } only %}
        {% endfor %}
    {% endif %}
</div>