{% import "_includes/forms" as forms %}
<div class="SubmitButton" id="submitButton">
    <button class="Button btn submit">Submit</button>
    {{ forms.hidden({
        value: action,
        id: 'submitButtonAction',
    }) }}
</div>