<h2>Entries</h2>
{% for index, entry in entryPreview.entries %}
    {% include 'import/entryPreview/entry' with {
        index: index,
        entry: entry,
    } only %}
{% endfor %}

<hr/>
<input type="hidden" id="EntryPreview-sectionMapping" value="{{ entryPreview.sectionMapping | json_encode }}" />
<input type="hidden" id="EntryPreview-entries" value="{{ entryPreview.entries | json_encode }}" />
{% include 'import/entryPreview/submitButton' %}