.btn {
    display: inline-block;
    border-radius: $btnBorderRadius;
    padding: 6px 12px;
    border: none;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    appearance: none;
    box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
  
    color: $textColor;
  
    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px $blue, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
    }
  
    &:active,
    &.active {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0.5px 1px rgba(0, 0, 0, 0.15);
    }
  
    &:not(.submit) {
      color: $textColor;
      background-image: linear-gradient(#fff, hsl($hue, 5%, 98%));
  
      &:active,
      &.active {
        background-image: linear-gradient(hsl($hue, 5%, 90%), hsl($hue, 5%, 92%));
      }
    }
  
    &[type='color'] {
      padding: 6px !important;
      width: 36px;
    }
  
    &.active {
      cursor: default;
    }
  
    &:hover {
      text-decoration: none;
    }
  
    &:active {
      outline: none;
    }
  
    div.checkbox {
      margin-top: 4px;
    }
  }
  
  .disabled {
    opacity: 0.25;
  }
  
  .disabled,
  .disabled .btn {
    cursor: default;
  }
  
  .btn,
  .spinner {
    height: 32px;
  }
  
  .btn[data-icon]:not(:empty):before,
  .btn.icon:not(:empty):before,
  .btn.menubtn[data-icon]:empty:before,
  .btn.menubtn.icon:empty:before {
    @include margin-right(5px);
  }
  
  .btn[data-icon-after]:not(:empty):after,
  .menubtn:not(:empty):after,
  .menubtn.icon:after {
    @include margin-left(6px);
  }
  
  .btn[data-icon]:before,
  .btn[data-icon-after]:after,
  .btn.icon:before,
  .menubtn:after {
    position: relative;
  }
  
  .btn.small[data-icon]:before,
  .btn.small[data-icon-after]:after,
  .btn.icon.small:before,
  .menubtn.small:after {
    font-size: 10px; 
  }
  
  .btn.icon.add.loading {
    position: relative;
  }
  
  .btn.icon.add.loading:before {
    visibility: hidden;
  }
  
  .btn.icon.add.loading:after {
    position: absolute;
    content: '.';
    font-size: 0;
    display: block;
    width: 24px;
    height: 100%;
    left: 5px;
    top: 0;
    background: url(../images/spinner.gif) no-repeat 0 50%;
  }
  
  .btn.icon.add.loading.submit:after {
    background-image: url(../images/spinner_submit.gif);
  }
  
  .secondary-buttons .btn.icon.add.loading.submit:after {
    background-image: url(../images/spinner_submit_secondary.gif);
  }
  
  /* button groups */
  .btngroup {
    position: relative;
    z-index: 1;
    display: flex;
    white-space: nowrap;
    align-items: center;
  
    &.fullwidth .btn {
      flex: 1;
    }
  
    &.disabled .btn {
      cursor: default;
    }
  
    .btn {
      &.active {
        cursor: default;
      }
  
      &:not(:last-child) {
        @include margin-right(1px);
      }
  
      body.ltr & {
        &:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
  
        &:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
  
      body.rtl & {
        &:not(:first-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
  
        &:not(:last-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }